apiVersion: v1
kind: Service
metadata:
  name: {{ include "minio.fullname" . }}
  labels:
    {{- include "minio.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
  {{- range .Values.service.ports }}
    - name: {{ .name }}
      port: {{ .containerPort }}
      targetPort: {{ .containerPort }}
      protocol: {{ .protocol | default "TCP" }}
      {{- if eq $.Values.service.type "NodePort" }}
      nodePort: {{ default .containerPort .nodePort }}
      {{- end }}
  {{- end }}
  selector:
    {{- include "minio.selectorLabels" . | nindent 4 }}
